@import url('https://fonts.googleapis.com/css2?family=Chakra+Petch:ital,wght@0,300;0,400;0,500;0,600;0,700;1,300;1,400;1,500;1,600;1,700&family=Creepster&family=Great+Vibes&family=Manufacturing+Consent&family=Michroma&family=Orbitron:wght@400..900&family=Reddit+Mono:wght@200..900&family=Shadows+Into+Light&display=swap');



* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;

}

body {
    background-image: url(/images/bg.png);
    background-size: cover;
    background-repeat: no-repeat;
}

#heading {
    font-family: Arial, Helvetica, sans-serif;
    text-align: center;
    color: chocolate;
    font-family: "Michroma", sans-serif;
    font-size: 50px;
    text-shadow: 0px 5px 15px rgba(255, 145, 0, 0.76);
}
/* Main div styling */
.main {
    /* border: 1px solid black; */
    display: flex;
    justify-content: center;
}

/* Columns containing the element boxes */
.columns {
    /* border: 1px solid red; */
    height: 262px;
    width: 75px;
}

/* Styling for each element box */
.boxes {
    border: 1px solid white;
    height: 65px;
    text-align: center;
    color: white;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.boxes:hover {
    transform: scale(1.5);
}

/* Add top margin to the second column */
.two {
    margin-top: 65px;
}

/* Add top margin to the third column */
.three {
    margin-top: 195px;
}

/* Background colors according to element groups */
.alkali {
    background-color: #244d57;
}

.alkaline {
    background-color: #622e39;
}

.Transition {
    background-color: #433c65;
}

.Metalloids {
    background-color: #523e1b;
}

.unknown {
    background-color: #46474c;
}

.noble {
    background-color: #623842;
}

.reactive {
    background-color: #2a4165;
}

.posttransition {
    background-color: #2f4d47;
}

.Lanthanides {
    background-color: #004a77;
}

.Actinides {
    background-color: #613b28;
}

/* Main container for the bottom two rows */
.main-row {
    /* border: 1px solid black; */
    display: flex;
    flex-direction: column;
    margin-left: 23.8%;
    margin-top: 50px;
}

/* First row of the bottom section */
.row1 {
    display: flex;
}

/* Second row of the bottom section */
.row2 {
    display: flex;
}

/* Styling for boxes in the bottom two rows */
.box {
    border: 1px solid white;
    width: 75px;
    height: 65px;
    text-align: center;
    color: white;
}

.box:hover {
    transform: scale(1.5);
}

/* Reduce font size for longer text */
.textcompress {
    font-size: small;
}